<div id="cookieNotice" class="cookie-overlay" style="display: none;">
    <div id="closeIcon" style="display: none;">
    </div>
    <div class="title-wrap">
        <h4>Cookie Consent</h4>
    </div>
    <div class="content-wrap">
        <div class="msg-wrap">
            <p>Cookies are required to change display themes (So the theme can persist between sessions). By continuing to use our website, you agree to our <a href="/terms">Privacy Policy</a></p>
            <div class="btn-wrap">
                <button class="btn btn-inline" onclick="acceptCookieConsent(true);">Accept</button>
                <button class="btn btn-inline" onclick="acceptCookieConsent(false);">Reject</button>
            </div>
        </div>
    </div>
</div>